 <div class="col-sm-10">
        <form>
          <div class="col-sm-6">
                <table class="table table-borderless" >
                        
           </table>               
        </div>
   </div>
   
   </div>
 </div>
 <div class="col-sm-10">
     <div class="panel panel-success">
             <div class="panel-heading">
                <h3 class="panel-title">DashBoard</h3>
              </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <table class="table table-borderless" >
                                        <tr>
                                            <td>Temperature Sensor</td>
                                            <td> <input type='text' class="form-control"  ng-model="SensorData.VALUE_TEMP_S"></td>
                                        
                                        <td></td>
                                        <td> <button id="add" class="btn-success" ng-click="fetchSensorData1()">Get</button></td>
                                        </tr>
                                        <tr>
                                            <td>Smoke Sensor</td>
                                            <td> <input type='text' class="form-control"  ng-model="SensorData.VALUE_SMK_S"></td>
                                        
                                <td></td>
                                    <td> <button id="add" class="btn-success" ng-click="fetchSensorData2()">Get</button></td>
                                </tr>
                                        <tr>
                                            <td>Presence Sensor</td>
                                            <td> <input type='text' class="form-control"  ng-model="SensorData.VALUE_IR_S"></td>
                                        
                                <td></td>
                                    <td> <button id="add" class="btn-success" ng-click="fetchSensorData3()">Get</button></td>
                                </tr>
                                        
                                    </table>
                                    </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Device Details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-6">
                                    <table class="table table-borderless" >
                                        <tr>
                                            <td>ID</td>
                                            <td> <input type='text' class="form-control" readonly ng-model="common_config.DEVICEID"></td>
                                        </tr>

                                    
                                        
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-borderless" >
                                        <tr>
                                            <td>Name</td>
                                            <td> <input type='text' class="form-control" ng-model="common_config.DEVICE_ALIAS_NAME" readonly></td>
                                        </tr>
                                    
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                        

                    </form>
                </div>

                
    

