<!--form >
<div class="col-sm-9" >
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">My Context</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <table class="table table-borderless" >
                
                <tr ng-repeat="data in myContextData">
                    <td>{{data.name}}</td>
                    
                    
                    <td> <button id="add" class="btn-success" ng-click="usecontext(data.name)">Use Context</button></td>
                    
                </tr>
            </table>
            </div>
    </div>
</div>
</div>

</form>